<link rel="import" href="http://www.polymer-project.org/components/polymer-jsonp/polymer-jsonp.html">

<polymer-element name="x-instagram" attributes="tag count clientId" lightDom>
  <template>
    <link rel="stylesheet" href="style.css">
    <polymer-jsonp id="ajax" auto url="https://api.instagram.com/v1/tags/{{tag}}/media/recent/?client_id=76788665e03048cbacc730b8a954e58d&count={{count}}&callback="> </polymer-jsonp>
    <div class="instagram">
      <template id="photos" repeat="{{item in photos}}" index="i">
        <div id="{{item.index}}" class="insta-holder"><img src="{{item.images.low_resolution.url}}" /></div>
      </template>
    </div>
  </template>
  <script>
Polymer('x-instagram', {
  count: 50,
  currentImage: 0,
  photos: [],
  ready: function() {
    this.$.photos.model = this.photos;
    this.$.ajax.addEventListener("polymer-response", 
        function(e) {
          this.photos = {photos: e.detail.response.data};
          this.$.photos.model = {photos: e.detail.response.data};
          console.log(e.detail.response);
          setTimeout(this.nextImage.bind(this), 300);
        }.bind(this)
      );
  },
  nextImage: function() {
   if (this.currentImage > 0) {
     var b = this.shadowRoot.querySelectorAll('.insta-holder')[this.currentImage-1];
     var s = b.style;
     s.webkitTransform = s.mozTransform = s.msTransform = s.transform = 'scale(1) translate(0px, 0px)';
   }
   var offset = {
     top: this.shadowRoot.querySelectorAll('.insta-holder')[this.currentImage].offsetTop,
     left: this.shadowRoot.querySelectorAll('.insta-holder')[this.currentImage].offsetLeft
   }
   var c = this.shadowRoot.querySelectorAll('.insta-holder')[this.currentImage];
   var scale = 3;
   var elMiddle = (c.offsetWidth)/2;
   var middle = this.offsetWidth/2;
   var target = middle-elMiddle;
   var left = (target-(offset.left))/scale;
   var s = c.style;
    s.webkitTransform = s.mozTransform = s.msTransform = s.transform = 'scale('+scale+') translate('+left+'px, 0px)';
    this.currentImage++;
    if (this.currentImage > (this.photos.photos.length-1)) {
      this.currentImage = 0;
    }
    setTimeout(this.nextImage.bind(this), 5000);
  }
});    
  </script>
</polymer-element>